@color1: rgb(111,92,59);
@color2: rgb(113, 84, 115);
@color3: rgb(219, 197, 46);

@lightColor: rgb(240,240,239);
@darkColor: rgb(65, 38, 54);

@headingFont: "Varela", Arial, Helvetica, sans-serif;
@normalFont: serif;
@fontSize: 16px;
@fontColor: #000;

    
body {
	padding: 0px;
    
}

header {
    background-color: #fff;
    margin-bottom: 10%;
    .navbar-default {
        background-color: #fff; 
        border-color: #fff;
    }
      .logo-mobile {
        display: none;
    }
}

nav {
    ul {
        .logo-desktop {
            width: 75%;
            margin-left: auto;
            margin-right: auto;
        }
        .link-mobile {
            display: none;
        }
    }
    .nav-links {
        padding-top: 20px;
        font-size: medium;
    }
    .navbar-default .navbar-nav>li>a:hover {
        color: #dbc52e;
    }
   .mynavbar {
	text-align:center;
    }
    .mynavbar .nav {
        float: none;
    }
    .mynavbar .nav li {
        display:inline-block;
        float:none;
        margin:0 10px;
        vertical-align:middle;
    } 
    .navbar-default .navbar-nav>li>a:hover {
        color: #dbc52e;
    }
}

main {
    h1 {
        font-family: @headingFont;
        color: @darkColor;
        font-size: 2.5em;
        padding-top: 2%;
        padding-left: 5%;
        text-align: left;
    }
    
     h2 {
         font-family: @headingFont;
         font-size: 2.5em;
         color: @color3;
         padding-left: 5%;
         text-align: center;
    }

    h3 {
        padding-top: 5%;
        text-align: center;
	    padding-left: 15px;
        font-family: @headingFont;
        font-size: 1.25em; 
        color: @darkColor;
    }
    h4 {
        color: @color3;
        font-size: 1em; 
        font-family: @headingFont;
        font-style: italic;
        padding-left: 5%;
        padding-bottom: 5%;
    }
    p {
        padding-left: 5%;
        padding-right: 5%;
    }
    a {
        color: @color3;
        text-decoration: none;
        font-weight: 700;
    }
    .main-ul {
        margin: 0px;
        padding-bottom: 30px;
        padding-left: 15%;
        li {
            list-style-image: url("../images/compass-bullet.png");
            margin-top: 10px;
        }
    }
     .intro-content {
       padding-top: 5%;
       padding-bottom: 3%;
    }
    .main-content {
        background-image: url("../images/travel-bg-2.jpg");
         background-size: 100%;
    }
   .container-fluid {
 	  padding: 0px;
    } 
    .contact-form {
        padding-left: 5%;
        padding-right: 5%; 
    }
    .contact-page {
        padding-top: 8%;
    }
    .chart {
        width: 75%;

    }
}

footer {
        padding-top: 80px;
        padding-bottom: 3%;
        background-color: #482D3C;
        color: #fff;
        font: .75em;
    a {
        color: #dbc52e;
        text-transform: uppercase;
        text-decoration: none;
        width: 100%;
        transition: all 0.3s ease-in-out 0s;
        transition-property: all;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
        transition-delay: 0s;
        
    }
    .social {
       float: left;
    }
    .copyright {
        float: right;
    	text-align: right;

    }
    .address {
        text-align: center;
        
    }
}

@media screen and (max-width: 736px) {
    header {
        margin-bottom: 0px;
        .navbar-default {
            background-color: #f8f8f8;
            border-color: #e7e7e7;
        }
        .navbar-default .navbar-toggle .icon-bar {
            background-color: #888;
        }
         .logo-mobile {
            display: block;
            width: initial;
            padding-top: 50px;
            padding-left: 0px;
        }
    }
    nav {
        .link-desktop {
            display: none; 
        }
        .logo-desktop {
            display: none;
        }
        .link-mobile {
            display: block;
            font-size: large;
        }
        .navbar-toggle {
            margin-right: 30px;
        } 
        .nav-links {
            padding-top: 0px;
        }
        .mynavbar .nav li {
            display: block;
        }
    }
    main {
        padding: 0px;
        padding-top: 0px;
        #contact {
            padding-left: 5%;
            padding-right: 5%;
        }
         .intro-content {
        padding-top: 5%;
        padding-bottom: 3%;
        }
    }
    img {
        width: 75%;
        margin: 0px;
        padding: 0px;
        padding-left: 10%;
        .social-icon {
            width: 100%;
        }
    }
    footer{
        .social, .address, .copyright {
            text-align: center;
            float: none;
            line-height: 1.75em;
        }
        .social-icon {
            width: initial;
            padding: 0px;
        }
    }
}
   
// mobile STYLESHEET

@media screen and (max-width: 420px) {

    

}